<div class="container mx-auto flex flex-col justify-center items-center min-h-screen">
  <div class="w-3/5 p-8 flex flex-col justify-center items-center gap-8 border border-transparent bg-emerald-950 shadow-lg shadow-teal-900 rounded-xl">
    <h2 class="text-gray-600">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8" }) do |f| %>
      <div class="mx-auto max-w-2xl">
        <div class="py-2">
          <%= f.label :email, class: "px-1 text-sm text-gray-600" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-md text-gray-300 block px-3 py-2 rounded-lg w-full bg-gray-900 border-2 border-transparent focus:outline-none focus:border-gray-600" %>
        </div>

        <div class="py-2">
          <%= f.label :password, class: "px-1 text-sm text-gray-600" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "text-md text-gray-300 block px-3 py-2 rounded-lg w-full bg-gray-900 border-2 border-transparent focus:outline-none focus:border-gray-600" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="py-2 flex items-center">
            <%= f.check_box :remember_me, class: "mr-2" %>
            <%= f.label :remember_me, class: "text-sm text-gray-600" %>
          </div>
        <% end %>

        <div class="py-2 flex justify-start items-center gap-4">
          <%= f.submit "Log in", class: "bg-gray-900 text-gray-100 px-5 py-2 rounded-lg hover:bg-gray-800" %>
          <%= link_to "Registro", new_user_registration_path, class: 'bg-gray-900 text-gray-100 px-5 py-2 rounded-lg hover:bg-gray-800' %>
        </div>
      </div>
    <% end %>
  </div>
</div>